<!DOCTYPE html>

<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Himanshu Ahuja - Experienced Software Engineer with a demonstrated history of working in the IT and Services Industry." />
  <meta name="author" content="Himanshu Ahuja" />
  <meta name="keywords" content="Himanshu, Ahuja, gh-pages, developer, electrical, engineer, TCS" />
  <meta name="google" value="notranslate" />
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=UTf-8" />
  <!-- <meta http-equiv="last-modified" content="Mon, 31 Dec 2018 13:03:32 IST " />
  <meta http-equiv="cache-control" content="Private" />
  <meta http-equiv="Expires" content="600" /> -->
  <meta property="og:title" content="Himanshu Ahuja" />
  <meta property="og:description" content="Himanshu Ahuja - Experienced Software Engineer with a demonstrated history of working in the IT and Services Industry." />
  <meta property="og:site_name" content="er-himanshu-ahuja.github.io" />
  <meta property="og:url" content="https://er-himanshu-ahuja.github.io" />
  <meta property="og:image" content="https://er-himanshu-ahuja.github.io/assets/profile-squared.jpg" />
  <meta property="og:type" content="website" />
  <meta name="msvalidate.01" content="68FAE05E746CACFFA21DAECA93FF7454" />
  <meta name="yandex-verification" content="66b31352dccfdb07" />
  <link rel="canonical" href="https://er-himanshu-ahuja.github.io" />
  <title>Himanshu Ahuja  |  Software Engineer</title>
  <!-- IE -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- other browsers -->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans" rel="stylesheet">

  <!-- External Stylesheets -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/starter.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

  <!-- Deferred/ Async'd Dependencies -->
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131453609-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131453609-1');
  </script>
  
  <noscript>
    <style>
      [class*="fa-"]:before {
        content: "+";
      }
      #page-loader {
        display: none;
      }
    </style>
  </noscript>
</head>
<body>
  <div id="page-loader">
    <div class="spinner-container">
      <div class="css-spinner"></div>
    </div>
  </div>
  <div class="main-container">
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <div class="cv-container">
      <div class="header"></div>
      {{ #cvLink }}
      <div class="cv-button">
        <a href="{{{ link }}}" class="btn text--medium cv-link" aria-label="{{ label }}">
          <i class="fas fa-print" aria-hidden="true"></i>
          <!-- <span>Resume</span> -->
        </a>
      </div>
      {{ /cvLink }}
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-sm-center profile-banner">
            <div class="pull-md-left pR--10 image-wrapper">
              <img src="{{{ pictureUrl }}}" alt="{{ pictureAlt }}" class="profile-image">
            </div>
            <div class="profile-title">
              <div class="text--xl text--primary">{{ fullName }}</div>
              <div class="text--small text--secondary">{ {{ role }} }</div>
              {{ #socialLinks.length }}
              <div class="text--medium pT--10 social-links-wrapper">
                <ul class="list-inline social-links">
                  {{ #socialLinks }}
                  <li class="social-item"><a href="{{{ link }}}" class="social-link" aria-label="{{ label }}"><i class="{{ class }}" aria-hidden="true"></i></a></li>
                  {{ /socialLinks }}
                </ul>
              </div>
              {{ /socialLinks.length }}
            </div>
          </div>
        </div>
        <div class="separator"></div>
        {{ #aboutMe }}
        <div class="row">
          <div class="about-me">
            <div class="col-md-2 text--primary text--large">
              {{ title }}
            </div>
            <div class="col-md-10 text--secondary text--small">
              {{ #description }}
              <div>{{{.}}}</div>
              {{ /description }}
            </div>
          </div>
        </div>
        {{ /aboutMe }}
        <div class="separator"></div>
        {{ #skillSet }}
        <div class="row">
          <div class="skills">
            <div class="col-md-2 text--primary text--large">
              {{ title }}
            </div>
            {{ #skills.length }}
            <div class="col-md-10 text--secondary text--small">
              <ul class="list-inline">
                {{ #skills }}
                <li class="skill-item">{{.}}</li>
                {{ /skills }}
              </ul>
            </div>
            {{ /skills.length }}
          </div>
        </div>
        {{ /skillSet }}
        <div class="separator"></div>
        {{ #professionalExperience }}
        <div class="row">
          <div class="experience">
            <div class="col-md-2 text--primary text--large">
              {{ title }}
            </div>
            <div class="col-md-10 text--secondary text--small">
              {{ #jobs }}
              <ul class="list-unstyled jobs-container">
                <li class="row job-item">
                  <div class="col-md-3 text--primary text--medium job-period">
                    {{ startDate }} - {{ endDate }}
                  </div>
                  <div class="col-md-9 job-details">
                    <div class="text--primary text--medium employee">
                      {{ employer }}
                    </div>
                    <div class="text--secondary text--small pT--10 job-description">
                      {{ #roleDescription }}
                      <p>{{{.}}}</p>
                      {{ /roleDescription }}
                    </div>
                  </div>
                </li>
              </ul>
              {{ /jobs }}
            </div>
          </div>
        </div>
        {{ /professionalExperience }}
      </div>
    </div>
  </div>
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script defer type="text/javascript" src="js/bg.js"></script>
  <script defer type="text/javascript" src="js/script.js"></script>
</body>
</html>
